@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

*{
    padding: 0;
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: white;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15px;

}
.header h1{
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 35px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border: 1px solid mediumaquamarine;
    border-radius: 5px;
    height:75px;
    width:75px;
    margin:2px;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
}

.btn:hover{
    cursor:pointer;
    background-color: rgb(240, 240, 240);
}

.btn:disabled {
    color: black;
    cursor: no-drop;

}
p{
    font-size: 30px;
    font-weight: 300; 
}

.result {
    text-align: center;
}

.reset {
    text-align: center;
}

#reset {
    border: 1px solid  black;
    cursor: pointer;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 17px;
    margin: 35px;
    transition: all 0.1s ease-in-out;
}

#reset:hover {
    color: white;
    background-color: aquamarine;
}